* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* Centralizar botão na tela */

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1c0c;
}

/* Mover o elemento nas porcentagens */

@keyframes loop {
  0% {
    top: 0;
    left: 0;
  }
  12.5% {
    top: 0;
    left: 55%;
  }
  25% {
    top: 0;
    left: 55%;
  }
  37.5% {
    top: 55%;
    left: 55%;
  }
  50% {
    top: 55%;
    left: 55%;
  }
  62.5% {
    top: 55%;
    left: 0;
  }
  75% {
    top: 55%;
    left: 0;
  }
  82.5% {
    top: 0;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/* Preloader */

main>.preloader {
  width: 200px;
  height: 200px;
  position: relative;
}

/* Preloader - box */

main>.preloader .preloader__box {
  width: 45%;
  height: 45%;
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  animation: loop 2s forwards linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 5rem;
  border-radius: 9px;
}

/* Atrasar o delay da animação  */

main>.preloader .preloader__box:nth-child(2) {
  animation-delay: .7s;
}

main>.preloader .preloader__box:nth-child(3) {
  animation-delay: 1.4s;
}