* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Centralizar conteudo na tela */

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader */

.loader {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  position: relative;
  border: 2px solid rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto de loading */

.loader__text {
  width: 85px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 14px;
}

/* Animar os pontinhos do texto */

@keyframes pontinhos {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

.loader__text::after {
  content: "...";
  width: 5px;
  overflow-x: hidden;
  font-size: 28px;
  color: #262626;
  animation: pontinhos 1s forwards linear alternate-reverse infinite;
  margin-left: 2px;
  display: flex;
}

/* Rotacionar elemento simulando o loading */

@keyframes rotacionar {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: none;
  display: block;
  position: absolute;
  top: -2px;
  left: 0;
  border-radius: 100%;
  border-top: 4px solid #262626;
  animation: rotacionar 1s forwards linear infinite;
}